* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
  padding: 10px;
}

#nav-bar #visualize {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-bar #visualize:hover {
  background-color: #dc6400;
}

#nav-bar #logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
}

#nav-bar .dropdown {
  position: relative;
}

#nav-bar .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #232323;
  border-radius: 8px;
  padding: 5px 0px;
  width: 100%;
}

#nav-bar .dropdown:hover .dropdown-menu {
  display: block;
}

#nav-bar .nav-bar-button {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#nav-bar i {
  margin-left: 5px;
}

#nav-bar .nav-bar-button:hover,
#nav-bar #visualize,
#nav-bar .active {
  color: white;
  background-color: #005a69;
  cursor: pointer;
}

#grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#grid-container #grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[45];
      grid-template-columns: repeat(45, 30px);
}

#grid-container #grid .cell {
  height: 30px;
  width: 30px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  /* To size the Start and End icon */
}

#grid-container #grid .wall {
  background-color: black;
}

#grid-container #grid .explored {
  background-color: cyan;
}

#grid-container #grid .path {
  background-color: yellow;
}

#grid-container #grid .start,
#grid-container #grid .end {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

#grid-container #grid .start:active,
#grid-container #grid .end:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#legend-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

#legend-container #legend {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#legend-container #legend .legend-field {
  margin: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

#legend-container #legend .legend-field input {
  margin: 0px 10px;
}

#legend-container #legend .legend-field input[type="range"] {
  -webkit-appearance: none;
}

#legend-container #legend .legend-field input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

#legend-container #legend .legend-field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #232323;
  margin-top: -4px;
}

#legend-container #legend .legend-field input[type="range"]:hover::-webkit-slider-thumb {
  background: #005a69;
  cursor: -webkit-grab;
  cursor: grab;
}

#legend-container #legend .legend-field input[type="range"]:focus {
  outline: none;
}

#legend-container #legend .legend-field input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

#legend-container #legend .legend-field #current-weight {
  width: 20px;
}

#legend-container #legend .legend-field .icon {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

#legend-container #legend .legend-field .description {
  margin-left: 5px;
  font-size: 18px;
}

#legend-container #legend .legend-field #wall {
  background-color: black;
}

#legend-container #legend .legend-field #unexplored {
  background-color: white;
}

#legend-container #legend .legend-field #explored {
  background-color: cyan;
}

#legend-container #legend .legend-field #best-path {
  background-color: yellow;
}

@-webkit-keyframes wall {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wall {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes explored {
  0% {
    background-color: black;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    border-radius: 100%;
  }
  50% {
    background-color: blue;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 100%;
  }
  100% {
    background-color: cyan;
  }
}

@keyframes explored {
  0% {
    background-color: black;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    border-radius: 100%;
  }
  50% {
    background-color: blue;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 100%;
  }
  100% {
    background-color: cyan;
  }
}

@-webkit-keyframes visualize {
  0% {
    background-color: #dc6400;
  }
  33% {
    background-color: red;
  }
  100% {
    background-color: #dc6400;
  }
}

@keyframes visualize {
  0% {
    background-color: #dc6400;
  }
  33% {
    background-color: red;
  }
  100% {
    background-color: #dc6400;
  }
}

@-webkit-keyframes path {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: orange;
    border: 1px solid rgba(128, 128, 128, 0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid rgba(128, 128, 128, 0.5);
  }
}

@keyframes path {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: orange;
    border: 1px solid rgba(128, 128, 128, 0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid rgba(128, 128, 128, 0.5);
  }
}

.visualize-animation {
  -webkit-animation: visualize 2s ease;
          animation: visualize 2s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#grid .wall {
  -webkit-animation: wall 0.3s ease-out;
          animation: wall 0.3s ease-out;
}

#grid .explored {
  -webkit-animation: explored 1s ease;
          animation: explored 1s ease;
}

#grid .path {
  -webkit-animation: path 1s ease;
          animation: path 1s ease;
}

#outer-weight-popup {
  display: none;
}

#outer-weight-popup #weight-popup {
  background-color: #dc6400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Ubuntu", cursive;
  font-size: 24px;
  padding: 8px;
  width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  border-radius: 8px;
  right: 10px;
  bottom: 2px;
}

#outer-weight-popup #weight-popup i {
  margin: 0px 10px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 10;
  font-family: "Ubuntu", cursive;
  font-size: 32px;
}

#modal #modal-content {
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px rgba(35, 35, 35, 0.8);
          box-shadow: 10px 10px 10px rgba(35, 35, 35, 0.8);
  width: 900px;
  height: 700px;
  border-radius: 8px;
  border-top-right-radius: 20px;
  position: relative;
  padding: 20px;
}

#modal #modal-content .outer-modal-page {
  display: none;
  width: 100%;
  height: 100%;
}

#modal #modal-content .outer-modal-page .modal-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#modal #modal-content .outer-modal-page .modal-page img {
  height: 400px;
  max-width: 100%;
}

#modal #modal-content .outer-modal-page .modal-page .modal-text {
  margin: 40px 0px;
  background-color: #232323;
  color: white;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal #modal-content #modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

#modal #modal-content #modal-buttons .disabled {
  pointer-events: none;
  opacity: 0.6;
}

#modal #modal-content #modal-buttons .modal-button {
  background-color: #232323;
  color: white;
  padding: 10px 20px;
  width: 300px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal #modal-content #modal-buttons .modal-button:hover {
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #005a69;
  font-weight: bold;
}

#modal #modal-content #modal-buttons .modal-button i {
  margin: 0px 5px;
}

#modal #modal-content #close {
  position: absolute;
  top: -20px;
  right: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  font-size: 72px;
  text-align: center;
}

#modal #modal-content #close:hover {
  cursor: pointer;
  color: red;
}

#outer-stats-popup {
  display: none;
}

#outer-stats-popup #stats-popup {
  background-color: #dc6400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Ubuntu", cursive;
  font-size: 24px;
  padding: 8px;
  width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  border-radius: 8px;
  left: 10px;
  bottom: 2px;
}
/*# sourceMappingURL=styles.css.map */