* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
  padding: 10px;
}

#nav-bar #visualize {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-bar #visualize:hover {
  background-color: #dc6400;
}

#nav-bar #logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
}

#nav-bar .dropdown {
  position: relative;
}

#nav-bar .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #232323;
  border-radius: 8px;
  padding: 5px 0px;
  width: 100%;
}

#nav-bar .dropdown:hover .dropdown-menu {
  display: block;
}

#nav-bar .nav-bar-button {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#nav-bar i {
  margin-left: 5px;
}

#nav-bar .nav-bar-button:hover,
#nav-bar #visualize,
#nav-bar .active {
  color: white;
  background-color: #005a69;
  cursor: pointer;
}

#grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#grid-container #grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[45];
      grid-template-columns: repeat(45, 30px);
}

#grid-container #grid .cell {
  height: 30px;
  width: 30px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  /* To size the Start and End icon */
}

#grid-container #grid .wall {
  background-color: black;
}

#legend-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

#legend-container #legend {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#legend-container #legend .legend-field {
  margin: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

#legend-container #legend .legend-field .icon {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

#legend-container #legend .legend-field .description {
  margin-left: 5px;
  font-size: 18px;
}

#legend-container #legend .legend-field #wall {
  background-color: black;
}

#legend-container #legend .legend-field #unexplored {
  background-color: white;
}

#legend-container #legend .legend-field #explored {
  background-color: cyan;
}

#legend-container #legend .legend-field #best-path {
  background-color: yellow;
}

@-webkit-keyframes wall {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wall {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#grid .wall {
  -webkit-animation: wall 0.3s ease-out;
          animation: wall 0.3s ease-out;
}
/*# sourceMappingURL=styles.css.map */