@keyframes wall {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes explored {
  0% {
    background-color: black;
    transform: scale(0.2);
    border-radius: 100%;
  }

  50% {
    background-color: blue;
    transform: scale(0.5);
    border-radius: 100%;
  }
  100% {
    background-color: $explored-background-color;
  }
}

@keyframes path {
  0% {
    transform: scale(1.5);
    background-color: orange;
  }
  100% {
    transform: scale(1);
  }
}

#grid {
  .wall {
    animation: wall 0.3s ease-out;
  }

  .explored {
    animation: explored 1s ease;
  }

  .path {
    animation: path 1s ease;
  }
}
