#grid-container {
  display: flex;
  justify-content: center;

  #grid {
    display: grid;
    grid-template-columns: repeat(45, $cell-width);

    .cell {
      height: $cell-height;
      width: $cell-width;
      background-color: white;
      border: 1px solid $cell-border-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px; /* To size the Start and End icon */
    }

    .wall {
      background-color: $wall-background-color;
    }

    .explored {
      background-color: $explored-background-color;
    }

    .path {
      background-color: $best-path-background-color;
    }
  }
}
