@import "./variables";
#legend-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  #legend {
    font-family: $font-family;
    font-size: $legend-font-size;
    display: flex;
    flex-direction: row;

    .legend-field {
      margin: 0px 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 20px;

      input {
        margin: 0px 10px;
      }

      input[type="range"] {
        -webkit-appearance: none;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: $nav-bar-backgound-color;
        margin-top: -4px;
      }

      input[type="range"]:hover::-webkit-slider-thumb {
        background: $nav-bar-backgound-color-hover;
        cursor: grab;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #ccc;
      }

      #current-weight {
        width: 20px;
      }

      .icon {
        width: $legend-icon-width;
        height: $legend-icon-height;
        border: 1px solid $cell-border-color;
      }

      .description {
        margin-left: 5px;
        font-size: $legend-font-size;
      }

      #wall {
        background-color: $wall-background-color;
      }

      #unexplored {
        background-color: $unexplored-background-color;
      }

      #explored {
        background-color: $explored-background-color;
      }

      #best-path {
        background-color: $best-path-background-color;
      }
    }
  }
}
