$font-family: "Ubuntu", sans-serif;
$logo-font-size: 24px;
$logo-color: white;
$nav-bar-font-size: 18px;
$nav-bar-backgound-color: rgb(35, 35, 35);
$nav-bar-backgound-color-hover: rgb(0, 90, 105);
$nav-bar-button-color: white;
$nav-bar-button-color-hover: white;
$visualize-background-color-hover: rgb(220, 100, 0);

$legend-font-size: 18px;
$legend-icon-width: 20px;
$legend-icon-height: 20px;

$cell-width: 30px;
$cell-height: 30px;
$cell-border-color: rgba(128, 128, 128, 0.5);

$wall-background-color: black;
$unexplored-background-color: red;
$explored-background-color: cyan;
$best-path-background-color: yellow;
