$font-family: "Ubuntu", sans-serif;
$logo-font-size: 24px;
$logo-color: white;
$nav-bar-font-size: 18px;
$nav-bar-backgound-color: black;
$nav-bar-backgound-color-hover: blue;
$nav-bar-button-color: white;
$nav-bar-button-color-hover: white;
